<footer class="container" style="margin-top: 100px;">
  <pic src="/Users/yulong_052/Downloads/C6165BA7EC486F2568091CCF5C8B3B2B.gif"></pic>
  <p class="text-center">Copyright ©2019 ShoppingStore
    <br>Design by ycc
  </p>
</footer>